@page "{StatusCode}"
@model CoffeeMapServer.Pages.Admin.Account.EditAccountModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{

    <script type="text/javascript" src="~/dist/jquery-3.5.1.js"></script>
    <script>
        var check = function () {
            if (document.getElementById("new_password").value == document.getElementById("passconfirmation").value) {
                document.getElementById("message").innerHTML = "";
                document.getElementById("submit_button").disabled = false;
            }
            else
            {
                document.getElementById("submit_button").disabled = true;
                document.getElementById("message").innerHTML = "Passwords aren't matching!";
                document.getElementById("message").style.color = 'red';
            }
        }
    </script>
}
<section class="content-header">
    <h1>
        Edit account
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" asp-for="@Model._User.Id" value="@Model._User.Id">
            <input type="hidden" class="form-control" asp-for="@Model._User.Login" value="@Model._User.Login" required>
        </div>
        <div class="form-group">
            <label for="mail">Email</label>
            <input type="text" id="email" class="form-control" asp-for="@Model._User.Email">
            <label for="old_password">Old Passsword</label>
            <input type="password" id="old_password" class="form-control" asp-for="@Model._User.Password" value="">
            <label for="new_password">New Password</label>
            <input type="password" minlength="10" id="new_password" class="form-control" onkeyup="check();" asp-for="@Model.NewPassword">
            <label for="passwordConfirmation">Password Confirmation</label>
            <input type="password" id="passconfirmation" class="form-control" onkeyup="check();">
            <span id="message" style="text-align:center;"></span>
        </div>
        <button type="submit" id="submit_button" asp-page-handler="Process" class="btn btn-primary">Submit</button>
    </form>
    @if (Model.RStatusCode.Equals("601"))
    { 
    <span>Email is already busy!</span>
    }
</section>