@page "{StatusCode}"
@model CoffeeMapServer.Pages.Admin.Account.EditAccountModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{

    <script type="text/javascript" src="~/content_root/dist/jquery-3.5.1.js" ></script>
    <script type="text/javascript" src="~/content_root/CustomScripts/EditUser.js" ></script>
    <script>

        var check = function () {
            var mes = document.getElementById("message");
            var sumbitButton = document.getElementById("submit_button");
            if (document.getElementById("new_password").value == document.getElementById("passconfirmation").value) {
                var mes = document.getElementById("message");
                mes.innerHTML = "";
                mes.className = "";
                sumbitButton.disabled = false;
            }
            else {
                sumbitButton.disabled = true;
                mes.innerHTML = "Пароли не совпадают!";
                mes.className = "alert alert-danger py-2"
            }
        }
    </script>
}
<section class="content-header">
    <h1>
        Редактирование профиля
    </h1>
    @if (Model.RStatusCode.Equals("601"))
    {
        <br />
        <div class="alert alert-danger py-2">Этот Email уже используется!</div>
        <br />
    }
    else if (Model.RStatusCode.Equals("602"))
    {
        <br />
        <div class="alert alert-danger py-2">Ошибка при изменении пароля! Старый пароль введен неверно!</div>
        <br />
    }
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post">
        <div class="form-group">
            <input type="hidden"
                   class="form-control"
                   asp-for="@Model._User.Id"
                   value="@Model._User.Id">
            <input type="hidden"
                   class="form-control"
                   asp-for="@Model._User.Login"
                   value="@Model._User.Login"
                   required>
        </div>
        <div class="form-group">

            <label for="mail">Email</label>
            <input type="text"
                   id="email"
                   class="form-control"
                   asp-for="@Model._User.Email">
            <div id="email_mes"></div>

            <label for="old_password">Старый пароль</label>
            <input type="password"
                   id="old_password"
                   class="form-control"
                   asp-for="@Model._User.Password"
                   value="">

            <label for="new_password">Новый пароль</label>
            <input type="password"
                   minlength="6"
                   id="new_password"
                   class="form-control"
                   onkeyup="check();"
                   asp-for="@Model.NewPassword">

            <label for="passwordConfirmation">Подтверждение пароля</label>
            <input type="password"
                   id="passconfirmation"
                   class="form-control"
                   onkeyup="check();">
            <div id="message"></div>
        </div>

        <button type="submit"
                id="submit_button"
                asp-page-handler="Process"
                class="btn btn-flat bg-primary button_style">
            Сохранить
        </button>

    </form>

</section>