@page
@model CoffeeMapServer.Views.Admin.Addresses.GetAddressesModel
@{

    @if (Model.role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{
    <script type="text/javascript" src="~/dist/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="~/dist/jquery.maskedInput.js"></script>
    <script>
        $(function () {
            $("#hours").mask('AA-AA 00:00-00:00', { 'translation': { A: { pattern: /[а-я]/ } }, 0: { pattern: /[0-9]/ } });
        });
        $(document).ready(function () {
            $("#filtrationbar").click(function () {
                $("#filtration").toggle(500);
            });
        });
    </script>
}
<section class="content-header">
    <h1>
        Addresses
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="get" id="filtration" style="display:none;">
        <label for="id">Id</label>
        <input type="text" class="form-control" asp-for="@Model.addressIdFilter">
        <label for="name">Address</label>
        <input type="text" maxlength="30" class="form-control" asp-for="@Model.addressStrFilter">
        <label for="addressid">Opening hours</label>
        <input type="text" id="hours" class="form-control" asp-for="@Model.openingHoursFilter">
        <br />
        <button type="submit" class="btn btn-primary">Filter notes</button>
    </form>
    <br />
    <button id="filtrationbar" class="btn btn-primary">Filtration</button>
    <br />
    <a asp-page="AddAddress">Create address note</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Address
                </th>
                <th>
                    Opening hours
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.addresses)
            {
                <tr>
                    <td>@Html.DisplayFor(item => i.Id)</td>
                    <td>@Html.DisplayFor(item => i.AddressStr)</td>
                    <td>@Html.DisplayFor(item => i.OpeningHours)</td>
                    <td>
                        <a asp-page="UpdateAddress" asp-route-id="@i.Id">Edit|</a>
                        <a asp-page="DeleteAddress" asp-route-id="@i.Id">Delete|</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>