@page "{statusCode}"
@model CoffeeMapServer.Views.Admin.Addresses.UpdateAddressModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{
    <script type="text/javascript" src="~/content_root/dist/jquery-3.5.1.js" ></script>
    <script type="text/javascript" src="~/content_root/dist/jquery.maskedInput.js"></script>
    <script type="text/javascript" src="~/content_root/CustomScripts/EditAddress.js" ></script>
}

<section class="content-header">
    <h1>
        Обновление адреса
    </h1>
    @if (Model.RStatusCode.Equals("601"))
    {
        <span style="color:red;">
            Такой адрес уже существует!
        </span>
        <br />
    }
</section>

<!-- Main content -->
<section class="content container-fluid">

    <form method="post">

        <div class="form-group">
            <label for="Id">Id</label>
            <!--disabled element doesn't bind data to model when post-->
            <input type="hidden"
                   class="form-control"
                   asp-for="@Model.Address.Id"
                   value="@Model.Address.Id">
            <input type="text"
                   disabled
                   class="form-control"
                   value="@Model.Address.Id">
        </div>
        <div class="form-group">
            <label for="Name">Строка адреса</label>
            <input type="text"
                   id="addressStr"
                   maxlength="50"
                   class="form-control"
                   asp-for="@Model.Address.AddressStr"
                   required>
            <div id="address_waring_mes">
            </div>
            <div id="addressStr_mes">
            </div>

            <label for="hours">Рабочие дни и часы</label>
            <input type="text"
                   id="hours"
                   class="form-control"
                   asp-for="@Model.Address.OpeningHours">
            <div id="hours_mes">
            </div>

            <label for="latitude">Широта</label>
            <input type="text"
                   id="latitude"
                   class="form-control"
                   asp-for="@Model.Latitude">
            <div id="latitude_mes">
            </div>

            <label for="longitude">Долгота</label>
            <input type="text"
                   id="longitude"
                   class="form-control"
                   asp-for="@Model.Longitude">
            <div id="longitude_mes">
            </div>
        </div>

        <button type="submit" 
                 id="confirm_button"
                class="btn btn-flat bg-primary button_style">
                Сохранить
        </button>
    </form>
</section>