@page
@model CoffeeMapServer.Pages.Admin.UserViews.UsersModel
@section scripts{
    <script type="text/javascript" src="~/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/dist/jquery.maskedInput.js"></script>
    <script>
        $(document).ready(function () {
            $("#filtrationbar").click(function () {
                $("#filtration").toggle(500);
            });
        });
    </script>
}
@{
    Layout = "_MasterLayout";
}
<section class="content-header">
    <h1>
        Roasters
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="get" id="filtration" style="display:none;">
        <label for="login">Login</label>
        <input type="text" class="form-control" asp-for="@Model.idFilter">
        <label for="name">Name</label>
        <input type="text" maxlength="30" class="form-control" asp-for="@Model.loginFilter">
        <label for="email">Email</label>
        <input type="text" class="form-control" asp-for="@Model.emailFilter">
        <label for="role">role</label>
        <input type="text" id="role" class="form-control" asp-for="@Model.roleFilter">
        <br />
        <button type="submit" class="btn btn-primary">Filter notes</button>

    </form>
    <br />
    <button id="filtrationbar" class="btn btn-primary">Filtration</button>
    <br />
    <a asp-page="AddUser">Create user</a>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Login
                </th>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.users)
            {
                <tr>
                    <td>@Html.DisplayFor(item => i.Id)</td>
                    <td>@Html.DisplayFor(item => i.Login)</td>
                    <td>@Html.DisplayFor(item => i.Email)</td>
                    <td>@Html.DisplayFor(item => i.role)</td>
                    <td>
                        <a asp-page="DeleteUser" asp-route-id="@i.Id">Delete|</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
