@page "{StatusCode}"
@model CoffeeMapServer.Views.Admin.RoasterViews.AddRoasterModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}

@section styles
{
    <link rel="stylesheet" href="~/content_root/tagify-master/dist/tagify.css" type="text/css">
}

@section scripts{

    <script type="text/javascript" src="~/content_root/dist/jquery-3.5.1.js" ></script>
    <script type="text/javascript" src="~/content_root/CustomScripts/AddRoasterNotes.js" >
    </script>
    <script type="text/javascript" src="~/content_root/tagify-master/dist/jQuery.tagify.min.js" ></script>
    <script type="text/javascript" src="~/content_root/dist/jquery.maskedInput.js" ></script>
    <script >
        $(document).ready(function () {
            $('[name=tags]').tagify({
                duplicates: false,
                delimiters: " ",
                maxTags: 10,
                backspace: true
            });
        });
    </script>
}

<section class="content-header">
    <h1>
        Добавление обжарщика
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

    @if (Model.RStatusCode.Equals("601"))
    {
    <span style="color:red;
              font-weight:bold;">
        Обжарщик с таким именем уже существует!
    </span>
    }
    <br />

    <form method="post"
          enctype="multipart/form-data">

        <div class="form-group">

            <label for="personName">Имя контактного человека</label>
            <input type="text"
                   id="contactPersonName"
                   class="form-control"
                   asp-for="@Model.Roaster.ContactPersonName"
                   placeholder="Иванов Иван"
                   required>

            <label for="personPhone">Телефон контактного человека</label>
            <input type="text"
                   id="contactPersonnumber"
                   class="form-control"
                   asp-for="@Model.Roaster.ContactPersonPhone"
                   placeholder="+7-(800)-(555)-35-35"
                   required>

            <label for="Name">Название обжарщика</label>
            <input type="text"
                   id="title"
                   class="form-control"
                   asp-for="@Model.Roaster.Name"
                   placeholder="Обжарщик N"
                   required>
            <div id="title_mes">
            </div>

            <label for="priority">Приоритет</label>
            <input type="text"
                   pattern="[0-9]{1+}"
                   id="priority"
                   class="form-control"
                   asp-for="@Model.Roaster.Priority"
                   placeholder="5"
                   required>
            <div id="priority_mes">
            </div>

            <label for="phone">Контактный номер</label>
            <input type="text"
                   id="contactnumber"
                   class="form-control"
                   asp-for="@Model.Roaster.ContactNumber"
                   placeholder="+7-(800)-(555)-35-35"
                   required>
            <div id="contactnumber_mes">
            </div>

            <label for="mail">Email</label>
            <input type="text"
                   id="email"
                   class="form-control"
                   placeholder="anymail@mail.com"
                   asp-for="@Model.Roaster.ContactEmail">
            <div id="email_mes">
            </div>

            <label for="office">Адрес</label>
            <input type="text"
                   id="addressStr"
                   minlength="10"
                   class="form-control"
                   placeholder="3-я Ул. Строителей, д.25"
                   asp-for="@Model.Address.AddressStr"
                   required>
            <div id="address_waring_mes">
            </div>
            <div id="addressStr_mes">
            </div>

            <label for="hours">Рабочие дни и часы</label>
            <input type="text"
                   id="hours"
                   class="form-control"
                   placeholder="пн-пт 10:00-20:00"
                   asp-for="@Model.Address.OpeningHours"
                   required>
            <div id="hours_mes">
            </div>

            <label for="latitude">Широта</label>
            <input type="text"
                   id="latitude"
                   class="form-control"
                   placeholder="0"
                   asp-for="@Model.Address.Latitude"
                   required>
            <div id="latitude_mes">
            </div>

            <label for="longitude">Долгота</label>
            <input type="text"
                   id="longitude"
                   class="form-control"
                   placeholder="0"
                   asp-for="@Model.Address.Longitude"
                   required>
            <div id="longitude_mes">
            </div>

            <label for="tags">Теги:</label>
            <input name="tags"
                   type="text"
                   class="form-control"
                   asp-for="@Model.Tags">

            <br />
            <label for="website">веб-сайт</label>
            <input type="text"
                   id="web"
                   class="form-control"
                   placeholder="e.g www.roastersite.com"
                   asp-for="@Model.Roaster.WebSiteLink">

            <label for="instagram">instagram</label>
            <input type="text"
                   id="iglink"
                   class="form-control"
                   placeholder="e.g instagram.com/account"
                   asp-for="@Model.Roaster.InstagramProfileLink">

            <label for="vk">vk</label>
            <input type="text"
                   id="vklink"
                   class="form-control"
                   placeholder="e.g vk.com/id4738346343634634634"
                   asp-for="@Model.Roaster.VkProfileLink">

            <label for="telegram">Telegram</label>
            <input type="text"
                   id="tglink"
                   class="form-control"
                   placeholder="e.g t.me/group1234566"
                   asp-for="@Model.Roaster.TelegramProfileLink">

            <label for="picture">Иллюстрация</label>
            <input type="file"
                   accept="image/jpeg,
                           image/png,
                           image/jpg,
                           image/bmp,
                           image/gif"
                   class="form-control"
                   asp-for="@Model.Picture">

            <label for="description">Описание</label>
            <textarea type="text"
                      class="form-control"
                      placeholder="Описание организации"
                      asp-for="@Model.Roaster.Description"
                      required>
            </textarea>
        </div>

        <button type="submit"
                id="confirm_button"
                class="btn btn-flat bg-primary button_style">
            Добавить
        </button>
    </form>
</section>