@page
@model CoffeeMapServer.Views.Admin.RoasterViews.RoastersModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{
    <script type="text/javascript" src="~/dist/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="~/dist/jquery.maskedInput.js"></script>

    <script>
        $(function () {

            $("#contactnumber").mask('+9-(999)-999-99-99');
        });
        $(document).ready(function () {
            $("#filtrationbar").click(function () {
                $("#filtration").toggle(500);
            });
        });
    </script>
}
<section class="content-header">
    <h1>
        Roasters
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="get" id="filtration" style="display:none;">
        <label for="id">Id</label>
        <input type="text" class="form-control" asp-for="@Model.IdFilter">

        <label for="name">Name</label>
        <input type="text" maxlength="30" class="form-control" asp-for="@Model.NameFilter">

        <label for="addressid">office address Id</label>
        <input type="text" class="form-control" asp-for="@Model.OfficeAddressFilter">

        <label for="phone">Contact number</label>
        <input type="text" id="contactnumber" class="form-control" asp-for="@Model.ContactNumberFilter">

        <label for="mail">Contact email</label>
        <input type="text" class="form-control" asp-for="@Model.ContactEmailFilter">

        <label for="instagram">instagram link</label>
        <input type="text" class="form-control" asp-for="@Model.InstagramProfileFilter">

        <label for="telegram">telegram link</label>
        <input type="text" class="form-control" asp-for="@Model.TelegramProfileFilter">

        <label for="vk">vk link</label>
        <input type="text" class="form-control" asp-for="@Model.VkProfileFilter">

        <label for="website">website link</label>
        <input type="text" class="form-control" asp-for="@Model.WebSiteFilter">

        <label for="tag">Tag:</label>
        <input type="text" class="form-control" asp-for="@Model.TagString">
        <br />
        <button type="submit" class="btn btn-primary">Filter notes</button>

    </form>
    <br />
    <button id="filtrationbar" class="btn btn-primary">Filtration</button>
    <br />
    <a asp-page="AddRoaster">Create roaster note</a>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Office Address
                </th>
                <th>
                    ContactNumber
                </th>
                <th>
                    Tags
                </th>
                <th>
                    ContactEmail
                </th>
                <th>
                    InstagramProfileLink
                </th>
                <th>
                    TelegramProfileLink
                </th>
                <th>
                    VkProfileLink
                </th>
                <th>
                    WebSiteLink
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Roasters)
            {
                <tr>
                    <td>@Html.DisplayFor(item => i.Id)</td>
                    <td>@Html.DisplayFor(item => i.Name)</td>
                    <td>@Html.DisplayFor(item => i.OfficeAddress.AddressStr)</td>
                    <td>@Html.DisplayFor(item => i.ContactNumber)</td>
                    <td>
                        <ul>
                            @{ 
                                foreach (var e in i.RoasterTags)
                                {
                                    <li>@Html.DisplayFor(item=>e.Tag.TagTitle)</li>
                                }
                            }
                        </ul>
                    </td>
                    <td>@Html.DisplayFor(item => i.ContactEmail)</td>
                    <td>@Html.DisplayFor(item => i.InstagramProfileLink)</td>
                    <td>@Html.DisplayFor(item => i.TelegramProfileLink)</td>
                    <td>@Html.DisplayFor(item => i.VkProfileLink)</td>
                    <td>@Html.DisplayFor(item => i.WebSiteLink)</td>
                    <td>
                        <a asp-page="EditRoaster" asp-route-id="@i.Id">Edit|</a>
                        <a asp-page="DeleteRoaster" asp-route-id="@i.Id">Delete|</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>