@page
@model CoffeeMapServer.Views.Admin.RoasterViews.RoastersModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{
    <script type="text/javascript" src="~/content_root/dist/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="~/content_root/dist/jquery.maskedInput.js"></script>

    <script>
        $(function () {

            $("#contactnumber").mask('+9-(999)-999-99-99');
        });
        $(document).ready(function () {
            $("#filtrationbar").click(function () {
                $("#filtration").toggle(500);
            });
        });
    </script>
}

<section class="content-header">
    <h1>
        Обжарщики
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

    <form method="get"
          id="filtration"
          style="display:none;">

        <label for="id">Id</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.IdFilter">

        <label for="name">Название</label>
        <input type="text"
               maxlength="30"
               class="form-control"
               asp-for="@Model.NameFilter">

        <label for="addressid">Адрес:</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.OfficeAddressFilter">

        <label for="phone">Контакный номер</label>
        <input type="text"
               id="contactnumber"
               class="form-control"
               asp-for="@Model.ContactNumberFilter">

        <label for="mail">Контактный email</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.ContactEmailFilter">

        <label for="instagram">instagram</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.InstagramProfileFilter">

        <label for="telegram">telegram</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.TelegramProfileFilter">

        <label for="vk">vk link</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.VkProfileFilter">

        <label for="website">веб-сайт</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.WebSiteFilter">

        <label for="tag">Тег:</label>
        <input type="text"
               class="form-control"
               asp-for="@Model.TagString">

        <br />
        <button type="submit"
                class="btn btn-flat bg-primary button_style">
            Фильтровать
        </button>

    </form>

    <br />
    <button class="btn btn-flat bg-primary button_style"
            id="filtrationbar">
        Фильтрация
    </button>

    <a class="btn btn-flat bg-primary button_style"
       asp-page="AddRoaster"
       asp-route-StatusCode="0">
        Добавить обжарщика
    </a>

    <br />
    <ul class="list-group col-12">

        @foreach (var i in Model.Roasters)
        {
            <li class="list-group-item window_style">
                <button class="info_Toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#@Html.DisplayFor(item => i.Id)"
                        aria-expanded="false"
                        aria-controls="@Html.DisplayFor(item => i.Id)">
                    @Html.DisplayFor(item => i.Id) -
                    <span class="property_annotation">
                        @Html.DisplayFor(item => i.Name)
                    </span>
                </button>
                <ul class="collapse multi-collapse info_list property_annotation"
                    id="@Html.DisplayFor(item=>i.Id)">

                    <li>
                        <span>Имя контактного человека: </span>
                        @Html.DisplayFor(item => i.ContactPersonName)
                    </li>

                    <li>
                        <span>Телефон контактного человека: </span>
                        @Html.DisplayFor(item => i.ContactPersonPhone)
                    </li>

                    <li>
                        <span>Приоритет: </span>
                        @Html.DisplayFor(item => i.Priority)
                    </li>

                    <li>
                        <span>Адрес: </span>
                        @Html.DisplayFor(item => i.OfficeAddress.AddressStr)
                    </li>

                    <li>
                        <span>Рабочие дни и часы: </span>
                        @Html.DisplayFor(item => i.OfficeAddress.OpeningHours)
                    </li>

                    <li>
                        <span>Широта: </span>
                        @Html.DisplayFor(item => i.OfficeAddress.Latitude)
                    </li>

                    <li>
                        <span>Долгота: </span>
                        @Html.DisplayFor(item => i.OfficeAddress.Longitude)
                    </li>

                    <li>
                        <span>Контактный номер телефона: </span>
                        @Html.DisplayFor(item => i.ContactNumber)
                    </li>

                    <li>
                        <span class="property_annotation">Теги: </span>
                        <ul>
                                @foreach (var e in i.RoasterTags)
                                {
                                    <li style="list-style-type:circle;">
                                        @Html.DisplayFor(item => e.Tag.TagTitle)
                                    </li>
                                }
                        </ul>
                    </li>

                    <li>
                        <span class="property_annotation">Email: </span>
                        @Html.DisplayFor(item => i.ContactEmail)
                    </li>

                    <li>
                        <span class="property_annotation">Instagram: </span>
                        @Html.DisplayFor(item => i.InstagramProfileLink)
                    </li>

                    <li>
                        <span class="property_annotation">Telegram: </span>
                        @Html.DisplayFor(item => i.TelegramProfileLink)
                    </li>

                    <li>
                        <span class="property_annotation">Vk: </span>
                        @Html.DisplayFor(item => i.VkProfileLink)
                    </li>

                    <li>
                        <span class="property_annotation">веб-сайт: </span>
                        @Html.DisplayFor(item => i.WebSiteLink)
                    </li>

                    <li>
                        <span class="property_annotation">Дата добавления: </span>
                        @Html.DisplayFor(item => i.CreationDate)
                    </li>

                    <li>
                        <br />
                        <a class="btn btn-flat bg-primary button_style"
                           asp-page="EditRoaster"
                           asp-route-id="@i.Id"
                           asp-route-statusCode="0">
                            Редактировать
                        </a>
                        <a class="btn btn-flat bg-primary button_style"
                           asp-page="DeleteRoaster"
                           asp-route-id="@i.Id">
                            Удалить
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</section>