@page
@model CoffeeMapServer.Views.Admin.RoastersModel
<section class="content-header">
    <h1>
        Roasters
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    OfficeAddressId
                </th>
                <th>
                    ContactNumber
                </th>
                <th>
                    ContactEmail
                </th>
                <th>
                    InstagramProfileLink
                </th>
                <th>
                    TelegramProfileLink
                </th>
                <th>
                    VkProfileLink
                </th>
                <th>
                    WebSiteLink
                </th>
            </tr>
            <tr>
                <td>
                    <a asp-page="AddRoaster">Create roaster note</a>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.roasters)
            {
            <tr>
                <td>@Html.DisplayFor(item => i.Id)</td>
                <td>@Html.DisplayFor(item => i.Name)</td>
                <td>@Html.DisplayFor(item => i.OfficeAddressId)</td>
                <td>@Html.DisplayFor(item => i.ContactNumber)</td>
                <td>@Html.DisplayFor(item => i.ContactEmail)</td>
                <td>@Html.DisplayFor(item => i.InstagramProfileLink)</td>
                <td>@Html.DisplayFor(item => i.TelegramProfileLink)</td>
                <td>@Html.DisplayFor(item => i.VkProfileLink)</td>
                <td>@Html.DisplayFor(item => i.WebSiteLink)</td>
                <td>
                    <a asp-page="EditRoaster" asp-route-id="@i.Id">Edit|</a>
                    <a asp-page="DeleteRoaster" asp-route-id="@i.Id">Delete|</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>
