@page
@model CoffeeMapServer.Pages.Admin.TagViews.TagsModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{
    <script type="text/javascript" src="~/content_root/dist/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="~/content_root/dist/jquery.maskedInput.js"></script>
}
<section class="content-header">
    <h1>
        Теги
    </h1>
    <div class="unused_description"><div class="u_square"></div><h4> - неиспользуемые теги</h4></div>
</section>
<!-- Main content -->
<section class="content container-fluid">

    <ul class="list-group">
        @foreach (var i in Model.Tags)
        {
            <li class="list-group-item">
                <button  @{ if (i.RoasterTags.Count() == 0) { <text> style="color: #81b5d4;" </text>  } }
                        class="info_Toggler"
                        data-toggle="collapse"
                        data-target="#@Html.DisplayFor(item=>i.Id)"
                        aria-expanded="false"
                        aria-controls="@Html.DisplayFor(item=>i.Id)">
                        <span>    
                        @Html.DisplayFor(item => i.Id) -
                        </span>
                        <span class="property_annotation">
                        @Html.DisplayFor(item => i.TagTitle)
                        </span>
                </button>
                <ul class="collapse multi-collapse info_list property_annotation" id="@Html.DisplayFor(item=>i.Id)">
                    <li>
                        <a class="btn btn-flat bg-primary button_style"
                           asp-page="EditTag"
                           asp-route-id="@i.Id"
                           asp-route-statusCode="0">
                            Редактировать
                        </a>
                        <a class="btn btn-flat bg-primary button_style"
                           asp-page="DeleteTag"
                           asp-route-id="@i.Id">
                            Удалить
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</section>