@page
@model CoffeeMapServer.Pages.Admin.RoasterRequestViews.EditRoasterRequestModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section styles{
    <link rel="stylesheet" href="~/content_root/tagify-master/dist/tagify.css" type="text/css">
}

@section scripts{
    <script type="text/javascript" src="~/content_root/dist/jquery-3.5.1.js" ></script>
    <script type="text/javascript" src="~/content_root/CustomScripts/EditRoasterNotes.js" >
    </script>
    <script type="text/javascript" src="~/content_root/dist/jquery.maskedInput.js" ></script>
    <script type="text/javascript" src="~/content_root/tagify-master/dist/jQuery.tagify.min.js" ></script>
    <script>
        $(document).ready(function () {
            $('[name=tags]').tagify({
                duplicates: false,
                delimiters: " ",
                maxTags: 10,
                backspace: true
            });
            $('[name=tags]')
                .data('tagify')
                .addTags(@Json.Serialize(@Model.TagsList));
        });

    </script>
}

<section class="content-header">
    <h1>
        Обновить заявку на участие
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">

            <label for="Id">Id</label>
            <input type="hidden"
                   class="form-control"
                   asp-for="@Model._Request.Id"
                   value="@Model._Request.Id">
            <input type="text"
                   class="form-control"
                   value="@Model._Request.Id"
                   disabled>

        </div>

        <div class="form-group">

            <label for="personName">Имя контактного человека: </label>
            <input type="text"
                   id="contactPersonName"
                   class="form-control"
                   placeholder="Иванов Иван"
                   asp-for="@Model._Request.Roaster.ContactPersonName">

            <label for="personPhone">Телефон контактного человека: </label>
            <input type="text"
                   id="contactpersonnumber"
                   class="form-control"
                   placeholder="+7-(800)-(555)-35-35"
                   asp-for="@Model._Request.Roaster.ContactPersonNumber">

            <label for="Name">Название обжарщика</label>
            <input type="text"
                   id="title"
                   class="form-control"
                   placeholder="Обжарщик N"
                   asp-for="@Model._Request.Roaster.Name"
                   required>
            <div id="title_mes">
            </div>

            <label for="priority">Приоритет</label>
            <input type="text"
                   id="priority"
                   class="form-control"
                   placeholder="5"
                   asp-for="@Model._Request.Roaster.Priority"
                   required>
            <div id="priority_mes">
            </div>

            <label for="phone">Контактный номер(для карты)</label>
            <input type="text"
                   id="contactnumber"
                   class="form-control"
                   placeholder="+7-(800)-(555)-35-35"
                   asp-for="@Model._Request.Roaster.ContactNumber"
                   required>
            <div id="contactnumber_mes">
            </div>

            <label for="mail">Email(для карты)</label>
            <input type="text"
                   id="email"
                   class="form-control"
                   placeholder="anymail@mail.com"
                   asp-for="@Model._Request.Roaster.ContactEmail">
            <div id="email_mes">
            </div>

            <label>Теги:</label>
            <input name="tags"
                   type="text"
                   class="form-control"
                   asp-for="@Model.Tags">

            <label for="website">Ссылка на веб-сайт</label>
            <input type="text"
                   id="web"
                   class="form-control"
                   placeholder="e.g www.roastersite.com"
                   asp-for="@Model._Request.Roaster.WebSiteLink">

            <label for="instagram">instagram</label>
            <input type="text"
                   id="iglink"
                   class="form-control"
                   placeholder="e.g instagram.com/account"
                   asp-for="@Model._Request.Roaster.InstagramProfileLink">

            <label for="vk">vk</label>
            <input type="text"
                   id="vklink"
                   class="form-control"
                   placeholder="e.g vk.com/id4738346343634634634"
                   asp-for="@Model._Request.Roaster.VkProfileLink">

            <label for="telegram">Telegram</label>
            <input type="text"
                   id="tglink"
                   class="form-control"
                   placeholder="e.g t.me/group1234566"
                   asp-for="@Model._Request.Roaster.TelegramProfileLink">

            <label for="addressString">Адрес</label>
            <input type="text"
                   id="addressStr"
                   class="form-control"
                   placeholder="3-я Ул. Строителей, д.25"
                   asp-for="@Model._Request.Address.AddressStr">
            <div id="address_waring_mes">
            </div>
            <div id="addressStr_mes">
            </div>

            <label for="latitude">Широта </label>
            <input type="text"
                   id="latitude"
                   class="form-control"
                   placeholder="0"
                   asp-for="@Model.Latitude">
            <div id="latitude_mes">
            </div>

            <label for="longitude">Долгота</label>
            <input type="text"
                   id="longitude"
                   class="form-control"
                   placeholder="0"
                   asp-for="@Model.Longitude">
            <div id="longitude_mes">
            </div>

            <label for="openingHours">Рабочие дни и часы</label>
            <input type="text"
                   class="form-control"
                   id="hours"
                   placeholder="пн-пт 10:00-20:00"
                   asp-for="@Model._Request.Address.OpeningHours"
                   required>
            <div id="hours_mes">
            </div>

            <label>Текущая иллюстрация:</label>
            <br>
            @{
                if (Model._Request.Picture != null)
                {<div class="row-fluid">
                        <img class="img-responsive"
                             src="data:image/jpeg;base64,@(Convert.ToBase64String(Model._Request.Picture.Bytes))" />
                    </div>}
            }
            <br>

            <label for="picture">Иллюстрация</label>
            <input type="file"
                   accept="image/jpeg,image/png,image/jpg"
                   class="form-control"
                   asp-for="@Model.Picture">

            <label for="description">Описание</label>
            <textarea type="text"
                      class="form-control"
                      asp-for="@Model._Request.Roaster.Description"
                      required>
            </textarea>

        </div>

        <button type="submit"
                id="confirm_button"
                asp-page-handler="Process"
                class="btn btn-flat bg-primary button_style">
            Сохранить
        </button>

    </form>
</section>