@page
@model CoffeeMapServer.Pages.Admin.RoasterRequestViews.RoasterRequestsModel
@{

    @if (Model.Role == "Master")
        Layout = "_MasterLayout";
}
@section scripts{
    <script type="text/javascript" src="~/content_root/dist/jquery-3.5.1.js" ></script>
    <script type="text/javascript" src="~/content_root/dist/jquery.maskedInput.js" ></script>
}

<section class="content-header">
    <h1>
        Заявки на участие
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

    <form asp-page-handler="DeleteAll"
          method="post">
        <button type="submit"
                class="btn btn-flat bg-primary button_style">
            Удалить все заявки
        </button>
    </form>

    <ul class="list-group">
        @foreach (var i in Model.RoasterRequests)
        {
            <li class="list-group-item">

                <button class="info_Toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#@Html.DisplayFor(item => i.Id)"
                        aria-expanded="false"
                        aria-controls="@Html.DisplayFor(item => i.Id)">
                    @Html.DisplayFor(item => i.Id) -
                    <span class="property_annotation">
                        @Html.DisplayFor(item => i.Roaster.Name)
                    </span>
                </button>

                <ul class="collapse multi-collapse info_list property_annotation"
                    id="@Html.DisplayFor(item => i.Id)">

                    <li>
                        <span>Id: </span>
                        @Html.DisplayFor(item => i.Id)
                    </li>
                    
                    <li>
                        <span>Имя обжарщика: </span>
                        @Html.DisplayFor(item => i.Roaster.Name)
                    </li>
                    
                    <li>
                        <span>Имя контактного человека: </span>
                        @Html.DisplayFor(item => i.Roaster.ContactPersonName)
                    </li>
                    
                    <li>
                        <span>Телефон контактного человека: </span>
                        @Html.DisplayFor(item => i.Roaster.ContactPersonNumber)
                    </li>
                    
                    <li>
                        <span>Котактный номер(для карты): </span>
                        @Html.DisplayFor(item => i.Roaster.ContactNumber)
                    </li>

                    <li>
                        <span>Теги: </span>
                        @{
                            if (i.TagString != null)
                            {
                                var tags = i.TagString.Split('#');
                                <ul>
                                    @foreach (var t in tags)
                                    {
                                        <li>@Html.DisplayFor(item => t)</li>
}
                                </ul>
                            }
                        }
                    </li>

                    <li>
                        <span>Email: </span>
                        @Html.DisplayFor(item => i.Roaster.ContactEmail)
                    </li>
                    
                    <li>
                        <span>Instagram: </span>
                        @Html.DisplayFor(item => i.Roaster.InstagramProfileLink)
                    </li>
                    
                    <li>
                        <span>Telegram: </span>
                        @Html.DisplayFor(item => i.Roaster.TelegramProfileLink)
                    </li>
                    
                    <li>
                        <span>Vk: </span>
                        @Html.DisplayFor(item => i.Roaster.VkProfileLink)
                    </li>
                    
                    <li>
                        <span>Web: </span>
                        @Html.DisplayFor(item => i.Roaster.WebSiteLink)
                    </li>
                    
                    <li>
                        <span>Адрес: </span>
                        @Html.DisplayFor(item => i.Address.AddressStr)
                    </li>
                    
                    <li>
                        <span>Широта: </span>
                        @Html.DisplayFor(item => i.Address.Latitude)
                    </li>
                    
                    <li>
                        <span>Долгота: </span>
                        @Html.DisplayFor(item => i.Address.Longitude)
                    </li>
                    
                    <li>
                        <span>Рабочие дни и часы: </span>
                        @Html.DisplayFor(item => i.Address.OpeningHours)
                    </li>
                    
                    <li>
                        <span>Дата поступления заявки: </span>
                        @Html.DisplayFor(item => i.Roaster.CreationDate)
                    </li>
                    
                    <li>
                        <span>Приоритет: </span>
                        @Html.DisplayFor(item => i.Roaster.Priority)
                    </li>

                    <li>
                        <a class="btn btn-flat bg-primary button_style"
                           asp-page="EditRoasterRequest"
                           asp-route-id="@i.Id">
                           Редактировать
                        </a>
                        
                        <a class="btn btn-flat bg-primary button_style"
                           asp-page="DeleteRoasterRequest"
                           asp-route-id="@i.Id">
                           Удалить
                        </a>
                        
                        <a class="btn btn-flat bg-primary button_style"
                           asp-page="BindToRoaster"
                           asp-route-id="@i.Id">
                           Cвязать с картой
                        </a>
                    </li>

                </ul>
            </li>
        }
    </ul>
</section>